*
body{
    background-color: rgb(176, 127, 194);
}
header{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    position: sticky;

   
    

    
}
header h1{
    color:white;
    width:60%;
    font-size:100px;
    text-align: center;
    font-family: "Aclonica", sans-serif;
    justify-content: center;
  
   
    
    }
#logo{
    height: 100px;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-top: 5px;
    right:-600px;
    }
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;   
   
}

#board{
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
#board div{
    box-sizing: border-box;
    border: 3px black solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 75%;
    height: auto;
 
}

#board-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    color: black;
    font-size: 40px;;
}

#board-size h4{
    margin: 10px;
}

#start-game{
    margin: 5px;
}
.gameover{
    text-align: center;
    font-size: 90px;
}