*{
    color: white;
}
body{
    background-color: purple;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;   
}

#board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
#board div{
    box-sizing: border-box;
    border: 3px purple solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 75%;
    height: auto;
 
}

#board-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    color: black;
}